body {
    background-color: #1a0410;
    color: white;
}

a, p, div, li, canvas {
    color: white;
}

canvas {
    display: block;
    background-color: white;
    position: relative;
}

.right {
    float: right;
    margin-top: 20px;
}

.panel {
    margin-right: 50px;
}
